<body>
  <hr />
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">About Us</h1>
      <h1 class="lead">services</h1>
      <div class="row col-12 conAbout">
        <div class="card con col-lg-3 col-md-12 m-4 shadow">
          <div class="card-body">
            <h1 class="lead">Apply new mAadharCard</h1>
            <p class="lead">
              From a new born to a senior citizen, everyone can enrol for
              Aadhaar.
            </p>
            <a href=""
              ><img
                class="nav"
                src="https://i.ibb.co/HxM42Nv/Screenshot-2023-07-17-133048.png"
                alt="Screenshot-2023-07-17-133048"
            /></a>
          </div>
        </div>
        <div class="card con col-lg-3 col-md-12 m-4 shadow">
          <div class="card-body">
            <h1 class="lead">Update mAadharCard</h1>
            <p class="lead">
              It is essential that your Aadhaar Data is correct and remains
              updated always.
            </p>
            <a href=""
              ><img
                class="nav"
                src="https://i.ibb.co/HxM42Nv/Screenshot-2023-07-17-133048.png"
                alt="Screenshot-2023-07-17-133048"
            /></a>
          </div>
        </div>
        <div class="card con col-lg-3 col-md-12 m-4 shadow">
          <div class="card-body">
            <h1 class="lead">Apply Duplicate mAadhar Card</h1>
            <p>Download mAadharCard</p>
            <p class="lead">
              From a new born to a senior citizen, everyone can enrol for
              Aadhaar.
            </p>
            <a href=""
              ><img
                class="nav"
                src="https://i.ibb.co/HxM42Nv/Screenshot-2023-07-17-133048.png"
                alt="Screenshot-2023-07-17-133048"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="container-fuild aboutContainer row mb-4 m-4 text-center d-flex flex-row"
  >
    <div>
      <h1 class="lead">Why mAadhar card</h1>
    </div>
    <div class="about card col-2 m-2 shadow">
      <h1 class="">Accurate Identification</h1>
      <p>
        A unique identification number enables accurate identification of
        individuals within a system. It provides a reliable and consistent means
        to distinguish one person from another, ensuring that each individual's
        identity can be accurately verified and authenticated.
      </p>
    </div>
    <div class="about card col-2 m-2 p-4 shadow">
      <h1>Efficient Service Delivery</h1>
      <p>
        With a unique identification number, government agencies and service
        providers can streamline their processes and deliver services more
        efficiently. It helps eliminate duplication, reduce errors, and improve
        the overall speed and accuracy of service delivery, whether it's for
        healthcare, education, social benefits, or other public services.
      </p>
    </div>
    <div class="about card col-2 m-2 p-4 shadow">
      <h1>Fraud Prevention</h1>
      <p>
        A unique identification number acts as a deterrent against identity
        theft, fraud, and misuse of public resources. By linking an individual's
        identity to a unique number, it becomes more challenging for someone to
        impersonate another person or fraudulently access benefits or services
        meant for someone else.
      </p>
    </div>
  </div>
  <div class="">
    <app-footer></app-footer>
  </div>
</body>
