<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>

  <div class="" id="navbarNavAltMarkup">
    <div class="d-flex flex-row">
      <a class="nav-item nav-link m-2" routerLinkActive="active" href=""
        >Home
      </a>

      <a
        class="nav-item nav-link m-2"
        routerLinkActive="active"
        routerLink="about"
        >About</a
      >

      <a
        class="nav-item nav-link m-2"
        routerLinkActive="active"
        routerLink="product"
        >Product</a
      >

      <a
        class="nav-item nav-link m-2"
        routerLinkActive="active"
        routerLink="signin"
        >signIn</a
      >
    </div>
  </div>
</nav>
