.icons {
  height: 40px;
  margin: 10px;
  border-radius: 40px;
}
.contact {
  text-align: center;
}

a {
  text-decoration: none;
}

.a {
  color: #fff;
}

.contactUs {
  background-color: #1a4189;
  color: #fff;
  padding: 20px;
}

.contactUs h1 {
  font-weight: bold;
  font-size: 15px;
}

a {
  color: black;
}
