<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ManagePatientEvent</servlet-name>
  	<display-name>ManagePatientEvent</display-name>
  	<description></description>
  	<servlet-class>com.event.ManagePatientEvent</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManageVitalsEvent</servlet-name>
  	<display-name>ManageVitalsEvent</display-name>
  	<description></description>
  	<servlet-class>com.event.ManageVitalsEvent</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddVitalsServlet</servlet-name>
  	<display-name>AddVitalsServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.AddVitalsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteButtonVitals</servlet-name>
  	<display-name>DeleteButtonVitals</display-name>
  	<description></description>
  	<servlet-class>com.event.DeleteButtonVitals</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteVitals</servlet-name>
  	<display-name>DeleteVitals</display-name>
  	<description></description>
  	<servlet-class>com.servlet.DeleteVitals</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserServlet</servlet-name>
  	<display-name>UserServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateServlet</servlet-name>
  	<display-name>UpdateServlet</display-name>
  	<description></description>
  	<servlet-class>com.crud.UpdateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteServlet</servlet-name>
  	<display-name>DeleteServlet</display-name>
  	<description></description>
  	<servlet-class>com.crud.DeleteServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchPatientsServlet</servlet-name>
  	<display-name>SearchPatientsServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.SearchPatientsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ExportServlet</servlet-name>
  	<display-name>ExportServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.ExportServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagePatientsServlet</servlet-name>
  	<display-name>ManagePatientsServlet</display-name>
  	<description></description>
  	<servlet-class>com.login.ManagePatientsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutLoginServlet</servlet-name>
  	<display-name>LogoutLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.login.LogoutLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ManagePatientEvent</servlet-name>
  	<url-pattern>/ManagePatientEvent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManageVitalsEvent</servlet-name>
  	<url-pattern>/ManageVitalsEvent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddVitalsServlet</servlet-name>
  	<url-pattern>/AddVitalsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteButtonVitals</servlet-name>
  	<url-pattern>/DeleteButtonVitals</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteVitals</servlet-name>
  	<url-pattern>/DeleteVitals</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserServlet</servlet-name>
  	<url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateServlet</servlet-name>
  	<url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteServlet</servlet-name>
  	<url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchPatientsServlet</servlet-name>
  	<url-pattern>/SearchPatientsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ExportServlet</servlet-name>
  	<url-pattern>/ExportServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagePatientsServlet</servlet-name>
  	<url-pattern>/ManagePatientsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutLoginServlet</servlet-name>
  	<url-pattern>/LogoutLoginServlet</url-pattern>
  </servlet-mapping>
</web-app>
