<div class="container-fuild con">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand logo" routerLink="">Maadhar</a>
          <div class="lead display-10" id="navbarNav">
            <ul class="navbar-nav d-flex flex-row">
              <li class="nav-item m-2" routerLinkActive="active">
                <a class="nav-link" routerLink="">Home</a>
              </li>
              <li class="nav-item m-2" routerLinkActive="active">
                <a class="nav-link" routerLink="/service">Services</a>
              </li>
              <li class="nav-item m-2" routerLinkActive="active">
                <a class="nav-link" routerLink="/admin">Admin</a>
              </li>
              <li class="nav-item m-2" routerLinkActive="active">
                <a class="nav-link" routerLink="/login">Login</a>
              </li>
              <li class="nav-item m-2" routerLinkActive="active">
                <a routerLink="/userlogin"
                  ><img
                    class="userlogo m-2"
                    src="https://i.ibb.co/3zMQSRj/Screenshot-2023-07-22-141814.png"
                    alt="Screenshot-2023-07-22-141814"
                    border="0"
                /></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
