<div class="container mt-4">
  <h2>User Login</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="login-form">
    <div class="form-group">
      <label for="phone">Phone Number</label>
      <input
        type="tel"
        id="phone"
        formControlName="phone"
        required
        maxlength="10"
      />

      <div
        *ngIf="
          loginForm.controls['phone'].invalid &&
          (loginForm.controls['phone'].dirty ||
            loginForm.controls['phone'].touched)
        "
      >
        <div *ngIf="loginForm.controls['phone'].hasError('required')">
          Phone Number is required.
        </div>
        <div *ngIf="loginForm.controls['phone'].hasError('maxlength')">
          Phone Number must consist of exactly 10 digits.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        minlength="6"
        required
      />

      <div
        *ngIf="
          loginForm.controls['password'].invalid &&
          (loginForm.controls['password'].dirty ||
            loginForm.controls['password'].touched)
        "
      >
        <div *ngIf="loginForm.controls['password'].hasError('required')">
          Password is required.
        </div>
        <div *ngIf="loginForm.controls['password'].hasError('minlength')">
          Password must be at least 6 characters long.
        </div>
      </div>
    </div>
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
    <a routerLink="/sign" class="m-2">Create New account? Click Here</a>
  </form>
</div>
